body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.profile{
  height: 100vh;
 
}

.profileInfo{

}

.profileInfoHead{
  text-align: center;
  background-color:gray;


}

.profileInfoBody{
  border: 1px solid gray;
  padding: 15px;

}

.profileInfoBody img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.profileform{
  padding: 0;
  background-color:gray;
}